<div class="flex flex-row justify-center bg-(--category-bg) border-b
border-(--category-border)">
    <a
        href=""
        class="p-3 text-(--category-text)
               hover:text-(--category-hover-text)

               transition"
    >
        Santé
    </a>

    <a
        href=""
        class="p-3 text-(--category-text)
               hover:text-(--category-hover-text)

               transition"
    >
        Parapharmacie
    </a>
</div>
