<footer>
    <section class="flex flex-row justify-around">
        <div class="p-10 px-20">&</div>
        <div class="p-10 px-20">&</div>
        <div class="p-10 px-20">&</div>
    </section>
</footer>
